header{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header img{

    width: 200px;
    border-radius: 50px;
    margin: 10px;

}

body{
    background-color: black;
}

nav ul{
    color: white;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li:hover{
    color: yellow;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

